
.content {
    margin: 0 20px 50px;
    display: flex;
    flex-direction: column;
}

.video {
    width: min(800px, 90vw);
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-self: center;
}

.adds {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.add {
    width: 600px;
    margin: 20px 0;
}

.capture {
    padding: 10px 0;
}

.join_margin {
    margin: 30px;
}

/* --------------------------------------------- */
/* Arrows & Moves */
/* --------------------------------------------- */
.arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#arrow-up {
    -webkit-animation: mover-down 1.5s infinite alternate;
    animation: mover-down 1.5s infinite alternate;
}

#arrow-down {
    -webkit-animation: mover-up 1.5s infinite alternate;
    animation: mover-up 1.5s infinite alternate;
}

#arrow-left {
    -webkit-animation: mover-right 1.5s infinite alternate;
    animation: mover-right 1.5s infinite alternate;
}

#arrow-right {
    -webkit-animation: mover-left 1.5s infinite alternate;
    animation: mover-left 1.5s infinite alternate;
}

@-webkit-keyframes mover-down {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover-down {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@-webkit-keyframes mover-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}
@keyframes mover-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

@-webkit-keyframes mover-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}
@keyframes mover-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}

@-webkit-keyframes mover-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(-20px); }
}
@keyframes mover-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(-20px); }
}
/* --------------------------------------------- */
