.numbers {
    display: flex;
    flex-direction: column;

    margin-top: 30px;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.guests {
    width: 400px;
    text-align: center;
    margin: 30px auto 50px;
}
